[type='text'],
[type='password'],
[type='submit'],
textarea {
  border: 1px solid $border-color;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 16px;
}

[type='text'],
[type='password'] {
  padding: .5rem;
  width: 100%;
}

[type='submit'] {
  background: $button-bg;
  color: $button-color;
  cursor: pointer;
  outline: 0;
  padding: .2rem .5rem;

  &:hover {
    background: $button-hover-bg;
  }
}

textarea {
  font-family: sans-serif;
  padding: .5rem;
  width: 100%;
}

.field-container {
  margin-bottom: 1rem;
  overflow: auto;

  label,
  input,
  textarea {
    display: block;
  }

  label {
    margin-bottom: .3rem;
  }
}
