.navbar {
  background: $navbar-bg;
  box-shadow: 0 0 4px $box-shadow-color;
  padding: 1rem 1rem;

  ul {
    @extend %pull-clearfix;
  }

  li {
    float: left;
    border-right: 1px solid $navbar-li-border-color;
    padding-right: 0.8rem;

    &.pull-right {
      @extend %pull-right;
    }

    & + li {
      margin-left: 0.8rem;
    }
  }

  a {
    color: $navbar-link-color;

    &:visited {
      color: $navbar-link-color;
    }
  }
}
