<% if @current_user %>
	<%= form_for [@post, @comment] do |form| %>
		<div class="field-controller">
			<%= form.label :content, "Comment" %>
			<%= form.text_area :content %>
		</div>
		<%= form.submit %>
	<% end %>
<% end %>