%pull-left {
  float: left;
}

%pull-right {
  float: right;
}

%pull-clearfix {
  overflow: auto;
}

.pull-left {
  @extend %pull-left;
}

.pull-right {
  @extend %pull-right;
}

.pull-clearfix {
  @extend %pull-clearfix;
}
