<h2><%= @user.name %></h2>

<% if @user.posts %>
	<h3>Posts</h3>
<% end %>
<% @user.posts.each do |post| %>
	<article>
		<div class="post">
			<h4><%= link_to post.title, post %></h4>
			<p><%= truncate(post.content, length: 50) %></p>
		</div>
	</article>
<% end %>