<h2><%= @user.name %></h2>

<% if @user.posts %>
	<h3>Posts</h3>
<% end %>
<% @user.posts.each do |post|
	@post = post
	@display_edit = :true %>
	<%= render partial: '/posts/post', locals: { post: @post, display_edit: @display_edit, current_user: @current_user } %>
<% end %>