<% current_user %>

<h1>blog</h1>

<% @posts.each do |post|
	@post = post
	@display_edit = :true %>
	<%= render 'post', locals: { post: @post, display_edit: @display_edit, current_user: @current_user } %>
<% end %>