<% current_user %>

<article>
	<div class="post">
		<h2><%= @post.title %></h2>
		<%= simple_format(@post.content) %>

		Author: <%= link_to @post.user.name, @post.user %>
	</div>
</article>

<% if @current_user.id === @post.user.id %>
	<%= link_to "Edit Post", edit_post_url %>
<% end %>